﻿@model Allmatech.Teste.Model.Imovel

@{
    ViewData["Title"] = "Details";
}

<h2>Imóvel</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodigoReferencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodigoReferencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnuncianteNome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnuncianteNome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnuncianteTelefone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnuncianteTelefone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoRua)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoRua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoNumero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoNumero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoComplemento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoComplemento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoBairro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoBairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoCidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoCidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoEstado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoEstado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoGoogleMapsUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoGoogleMapsUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaUtil)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaUtil)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeBanheiros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeBanheiros)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeQuartos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantidadeQuartos)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    <a asp-action="Index">Voltar para lista</a>
</div>
