﻿@model Allmatech.Teste.Model.Imovel

<h2>Imóvel</h2>
<hr />

<form asp-action="Edit" method="post">
    <input asp-for="id" type="hidden"  />
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        <div class="col-md-6">
            <h4>Dados do Imóvel</h4>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CodigoReferencia" class="control-label">Código Referência</label>
                        <input asp-for="CodigoReferencia" class="form-control" />
                        <span asp-validation-for="CodigoReferencia" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label">Descrição</label>
                        <input asp-for="Descricao" class="form-control" />
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="AreaUtil" class="control-label">Área Útil</label>
                        <input asp-for="AreaUtil" class="form-control" />
                        <span asp-validation-for="AreaUtil" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="QuantidadeBanheiros" class="control-label">Banheiros</label>
                        <input asp-for="QuantidadeBanheiros" class="form-control" />
                        <span asp-validation-for="QuantidadeBanheiros" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="QuantidadeQuartos" class="control-label">Quartos</label>
                        <input asp-for="QuantidadeQuartos" class="form-control" />
                        <span asp-validation-for="QuantidadeQuartos" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <h4>Endereço</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="EnderecoRua" class="control-label">Logradouro</label>
                        <input asp-for="EnderecoRua" class="form-control" />
                        <span asp-validation-for="EnderecoRua" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EnderecoNumero" class="control-label">Número</label>
                        <input asp-for="EnderecoNumero" class="form-control" />
                        <span asp-validation-for="EnderecoNumero" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EnderecoComplemento" class="control-label">Complemento</label>
                        <input asp-for="EnderecoComplemento" class="form-control" />
                        <span asp-validation-for="EnderecoComplemento" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="EnderecoBairro" class="control-label">Bairro</label>
                        <input asp-for="EnderecoBairro" class="form-control" />
                        <span asp-validation-for="EnderecoBairro" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="EnderecoCidade" class="control-label">Cidade</label>
                        <input asp-for="EnderecoCidade" class="form-control" />
                        <span asp-validation-for="EnderecoCidade" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="EnderecoEstado" class="control-label">Estado</label>
                        <input asp-for="EnderecoEstado" class="form-control" />
                        <span asp-validation-for="EnderecoEstado" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="EnderecoGoogleMapsUrl" class="control-label">Google Maps Url</label>
                        <input asp-for="EnderecoGoogleMapsUrl" class="form-control" />
                        <span asp-validation-for="EnderecoGoogleMapsUrl" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>Anunciante</h4>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label asp-for="AnuncianteNome" class="control-label">Nome</label>
                        <input asp-for="AnuncianteNome" class="form-control" />
                        <span asp-validation-for="AnuncianteNome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="AnuncianteTelefone" class="control-label">Telefone</label>
                        <input asp-for="AnuncianteTelefone" class="form-control" />
                        <span asp-validation-for="AnuncianteTelefone" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group text-right">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

