﻿@model IEnumerable<Allmatech.Teste.Model.Imovel>


<h2>Imoveis</h2>
<hr />

<p class="text-right">
    <a href="@Url.Action("Create")" class="btn btn-primary">Novo Imóvel</a>
</p>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th width="100">Cod</th>
            <th>Nome</th>
            <th width="200" class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" class="text-center">ainda não há nenhum imóvel</td>
            </tr>
        }
        else
        {
            @foreach (var imovel in Model)
            {
            <tr>
                <td>@imovel.CodigoReferencia</td>
                <td>@imovel.Nome</td>
                <td class="text-center">
                    <a href="@Url.Action("Details", new { id = imovel.id })">detalhes</a> |
                    <a href="@Url.Action("Edit", new { id = imovel.id })">editar</a> |
                    <a href="@Url.Action("Delete", new { id = imovel.id })">remover</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>

